.top {
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 250px;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}
