.top {
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 250px;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}

.main {
  background-image: url("/background.png");
  background-size: cover;
  background-attachment: fixed;
}

.news {
  position: relative;
  background-color: #ffffff;
  width: 80%;
  margin: -200px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 1000px) {
  .news {
    width: calc(100% - 160px);
  }
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }
  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    text-align: left;
  }

  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }
}
