.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 1000px) {
  .news {
    width: calc(100% - 160px);
  }
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }
  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    text-align: left;
  }

  .bgimg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .news {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .newsLink {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }
}
